body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.container {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    background-image: url('/images/—Pngtree—indonesia\ independence\ day\ festival\ celebration_1453036.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rectangle {
    animation: transitionIn 0.75s;

    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 1200px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 10px 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #EF4C59;
    margin-bottom: 20px;
}

.spacer-line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 20px 0;
}

.profile-details {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    /* Increase the value to add more distance between columns */
    text-align: left;
}

.profile-details p {
    margin: 10px 0;
    text-align: left;
}

.verification-label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.verification-label p {
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.vertical-navbar {
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    height: 85vh; /* Set the height to 75% of the viewport height */
    overflow-y: auto; /* Add scrollbars if needed */
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}

.nav-button img {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 5px;
}

input[type = "submit"] {
    border-radius: 20px;
	text-decoration: none;
	border: 2px solid red;
	background: white;
	color: red;
	padding: 6px;
}

input[type = "text"] {
    width: 750px;
    border-radius: 20px;
	text-decoration: none;
	background: white;
	color: teal;
	padding: 6px;
}

input[type = "submit"]:hover {
	color: white;
	background: teal;
}
input[type = "submit"]:active {
	color: white;
	background: teal;
}

table {
    margin-left: 24px;
	border: 1px solid teal;
	border-collapse: collapse;
}
td, tr{
	border: 1px solid teal;
	padding: 15px 50px;
}		
th {
	padding: 4px;
	border: 1px solid teal;
	text-align: center;
	background: teal;
	color: white;
}

.update-form-grid{
    display: grid;
    grid-template-columns: 150px 10px 200px;
    grid-template-rows: 1fr 1fr;
}

.action{
    padding : 6px;
}

.form-row {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.form-row label {
    margin-left: 10px;
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:is(:hover, :focus) {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;

}

button:hover {
	color: white;
	background: teal;
}
button:active {
	color: white;
	background: teal;
}

.rectangle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

h2 {
    margin: 10px 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #EF4C59;
    margin-bottom: 20px;
}

.spacer-line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 20px 0;
}

.profile-details {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    text-align: center;
    overflow: auto;
}

.profile-details p {
    margin: 10px 0;
    text-align: center;
}

.verification-label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.verification-label p {
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.overlay {
    max-height: calc(100% - 120px);
    overflow: auto;
}

.overlay table {
    width: 9px;
}

.overlay th,
.overlay td {
    padding: 10px;
    text-align: center;
}
.rectangle1 .button{
    margin-top: 15px;
}

.hider{
    display: none;
}