<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes transitionIn2 {
    from{
        opacity: 0;
        transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    background-image: url('/images/—Pngtree—indonesia\ independence\ day\ festival\ celebration_1453036.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rectangle {
    animation: transitionIn 0.75s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 950px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 10px 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #EF4C59;
    margin-bottom: 20px;
}

.spacer-line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 20px 0;
}

.profile-details {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    /* Increase the value to add more distance between columns */
    text-align: left;
}

.profile-details p {
    margin: 10px 0;
    text-align: left;
}

.verification-label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.verification-label p {
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.vertical-navbar {
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    height: 85vh;
    /* Set the height to 75% of the viewport height */
    overflow-y: auto;
    /* Add scrollbars if needed */
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}

.nav-button img {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    padding: 6px;
}
.partai {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  .partai:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  .partai:hover {
    outline: 1px solid lightgrey;
  }
input[type="text"] {
    width: 750px;
    border-radius: 20px;
    text-decoration: none;
    background: white;
    color: teal;
    padding: 6px;
}

input[type="submit"]:hover {
    color: white;
    background: teal;
}

input[type="submit"]:active {
    color: white;
    background: teal;
}

table {
    border: 1px solid teal;
    border-collapse: collapse;
}

td,
tr {
    border: 1px solid teal;
    padding: 15px 50px;
}

th {
    padding: 4px;
    border: 1px solid teal;
    text-align: center;
    background: teal;
    color: white;
}

.update-form-grid {
    display: grid;
    grid-template-columns: 150px 10px 200px;
    grid-template-rows: 1fr 1fr;
}

.action {
    padding: 6px;
}

.form-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4cae4c;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:is(:hover, :focus) {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;

}

.container button {
    padding: 10px;
    background-color: #4cae4c;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.container button:is(:hover, :focus) {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}

.container button:hover {
    color: white;
    background: teal;
}

.container button:active {
    color: white;
    background: teal;
}

.result {
    border-radius: 8px;
    padding: 10px;
    background-color: #d9d9d9;
}

.rectangle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.rectangle1 h2{
    margin-top: 150px;
}

.rectangle1 label {
    margin-bottom: 10px;
}

.line1 {
    width: 100%;
    height: 2px;
    background-color: #EF4C59;
    margin-bottom: 1px;
    z-index: 99;
}

.rectangle1 input[type="text"] {
    width: 500px;
    margin-bottom: 20px;
}


/* Dropdown Button */
.dropbtn {
    border: none;
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    border: none;
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.green-oval button {
    background-color: #008000;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 15px;
}

.green-oval button:hover {
    color: white;
    background: teal;
}

.green-oval button:active {
    color: white;
    background: teal;
}

.green-oval button:is(:hover, :focus) {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}

.hider{
    animation: transitionIn2 0.5s;
    display: none;
}
.hide{
    animation: transitionIn2 0.5s;
    display: none;
}


.btn {
    --color: #5050F0;
    background-color: var(--color);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    transition: .2s;
    letter-spacing: 1px;
    font-weight: 600;
  }
  
  .btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
  
  .btn:active {
    transition: 0s;
    filter: brightness(1.4);
  }

  
=======
>>>>>>> 1bda64646348a405139bc7a143fb2e7328882591
