body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.logo img {
    max-width: 200px;
}

.countdown {
    text-align: center;
    position: relative;
    margin-left: 400px;
}

.line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 2px;
    background-color: #EF4C59;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: -100px;
}

.profile p{
    margin-top: -20px;
    margin-right: 50px;
}

.background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('/images/background\ potensi\ 4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#navigator {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 10px;
}

.rectangle {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}

.nav-button img {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 5px;
}

.statusUser button{
    border-radius: 100px;
    width: 150px;
    margin-left: 300px;
    margin-top: 15px;
}