.vertical-navbar {
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    height: 75vh; /* Set the height to 75% of the viewport height */
    overflow-y: auto; /* Add scrollbars if needed */
}

.navbar-link {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}

body {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    background-image: url('/images/background\ potensi1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rectangle {
    animation: transitionIn 0.75s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.no-data {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.verification-notice {
    display: flex;
    justify-content: center;
}

.red-rectangle {
    background-color: #EF4C59;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.red-rectangle p {
    margin: 0;
    font-weight: bold;
}

h2 {
    margin-top: 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #EF4C59;
    margin-bottom: 20px;
}

.details {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.details li {
    margin-bottom: 10px;
}

.details li strong {
    margin-right: 5px;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}

.nav-button img {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 5px;
}