body {
    animation: transitionIn 0.75s;

    margin: 100px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('/images/background\ potensi1.jpeg');
    /* background-color: #999999; */
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    background-color: #fff;
    padding: 40px;
    width: 400px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 18px;
}

h2 {
    margin-top: 0;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 0.5px solid grey;
}

p{
    color: gray;
}

button {
    padding: 10px;
    
    color: #333;
    border: none;
    cursor: pointer;
}

button:is(:hover, :focus){
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
   
}
select,input[type="date"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 0.5px solid grey;
    appearance: none; /* Menghilangkan tampilan default browser */
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
  }
  
  select:focus {
    outline: none;
    border-color: #EF4C59; /* Warna saat elemen dipilih/fokus */
  }
  
  option {
    background-color: #ffffff;
    color: #333333;
  }