body {
    margin: 100px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /* background-color: #999999; */
    background-image: url('../../public/images/background\ potensi1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    background-color: #fff;
    padding: 40px;
    width: 400px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 18px;
}

h2 {
    margin-top: 0;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],input[type="password"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 0.5px solid grey;
}

p{
    color: gray;
}

button {
    padding: 10px;
    width: 170px;
    background-color: #EF4C59;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

button:is(:hover, :focus){
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
   
}