
    <link rel="stylesheet" type="text/css" href="/camil/layout/navigator.css">



    <div class="container">
        <div class="rectangle">
            <a href="#" class="nav-button">
                <img src="/images/icon ke home.png" alt="Home">
                <span>Home</span>
            </a>
            <a href="#" class="nav-button">
                <img src="/images/icon home 1.png" alt="Home">
                <span>Profile</span>
            </a>
            <a href="#" class="nav-button">
                <img src="/images/icon home 3.png" alt="Home">
                <span>Lihat TPS</span>
            </a>
            <a href="#" class="nav-button">
                <img src="/images/log out.png" alt="Home">
                <span>Log out</span>
            </a>
        </div>
    </div>


