<!DOCTYPE html>
<html>

<head>
    <title>navbar</title>
    <link rel="stylesheet" type="text/css" href="../../../public/camil/layout/navigator.css">
</head>

<body>
    <div class="container">
        <div class="rectangle">
            <a href="#" class="nav-button">
                <img src="../../../public/images/icon ke home.png" alt="Home">
                <span>Home</span>
            </a>
            <a href="#" class="nav-button">
                <img src="../../../public/images/icon home 1.png" alt="Home">
                <span>Profile</span>
            </a>
            <a href="#" class="nav-button">
                <img src="../../../public/images/icon home 3.png" alt="Home">
                <span>Lihat TPS</span>
            </a>
            <a href="#" class="nav-button">
                <img src="../../../public/images/log out.png" alt="Home">
                <span>Log out</span>
            </a>
        </div>
    </div>
</body>

</html>