p{
    margin-left: 300px;
    margin-top: -560px;
    border-bottom: 1px solid gray;
    padding: 10px;
    width: 1180px;
}

#buttonTambah{
    position: relative;
    top:-120px;
    left: 1400px;
    background-color: #73A839;
    color: white;
    border: 0;
    padding: 10px;
    padding-left: 30px;
    padding-right: 15px;
}

#textTambah{
    position: relative;
    left: 1411px;
    top:-70px;
    z-index: 2;
    color: white;
    max-width: 10px;

}

table {
    position: relative;
    top: -100px;
    left: 310px;
    width: 1200px;
    margin-left: -21px;
    margin-top: -10px;
}

td {
    text-align: center;
}

th,
td {
    padding: 10px;
}

#buttonDetail {
    color: white;
    background-color: #033C73;
    border-radius: 2px;
    padding: 7px;
    border: 0;
}

td button{
    background-color: white;
    border: 0;
    padding: 0;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 600px;
    height: 530px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 500px;
    margin-top: -100px;
}

.popup{
    position: relative;
    left: -250px;
    /* top: -90px; */
    top:-300px;
    z-index: 99;

}
.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    max-width: 100px;
    column-gap: 100px;
    /* background-color: #f2f2f2; */
    background-image: url('/images/background/potensi1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    position: relative;
    top: -700px;
    /* top:-50px; */
    /* margin: 10px 0; */
    font-weight: 500;
}

#imgCloseButton{
    position: relative;
    left:315px;
    top: 30px;
    width: 30px;
    padding: 0;
}

h2 {
    position: relative;
    top: 75px;
    font-weight: 400;
}

.line {
    position: relative;
    top: 75px;
    width: 100%;
    height: 2px;
    /* background-color: #EF4C59; */
    /* margin-bottom: 20px; */
    z-index: 9999;
    border: none;
    border-top: 2px solid #EF4C59;
}

#textLokasi {
    position: relative;
    left: 150px;
    top: -155px;
    border: 0;
}

#textKeterangan{
    width: 610px;
    position: relative;
    top:375px;
    left:-135px;
    border:0;
    border-bottom: 2px solid #EF4C59;
    
    
}

#table2{
    width: 650px;
    position: relative;
    top:375px;
    left: 15px;
}

#buttonTutup {
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #34B4B3;
    border-radius: 20px;
    border: 0;
    position: relative;
    left: 0px;
    top: 650px;
    max-height: 50px;
}

.popup2{
    position: absolute;
    top:900px;
    left: 510px;
}

#imgCloseButton{
    position: absolute;
    left:125px;
    top: -275px;
    width: 30px;
    padding: 0;

}

#txtmasukanDataTPS{
    position:absolute;
    top:-270px;
    left: -350px;
    font-size: 28px;
}

#txtNomorTPS{
    position: absolute;
    top:375px;
    left:-730px;
    width: 500px;
    border: 0;
}

/* #dropdownTPS{
    position: absolute;
    top:-150px;
    left:-423px;
    width: 505px;
    border:0;

} */

#noTPS{
    position: absolute;
    top:-150px;
    left:-420px;
    width: 495px;
    border:0;
}
.spacer-line3{
    position: absolute;
    top:-150px;
    left:-420px;
    width: 300px;
    height: 1px;
    background-color: gray;
    margin: 20px 0;
    border: none;
    border-top: 1px solid gray;
    width: 500px;
}

#txtLokasiTPS{
    position: absolute;
    top:650px;
    top:450px;
    left:-730px;
    border: 0;
}
#dropdownLokasiTPS{
    position: absolute;
    top:-75px;
    left:-423px;
    width: 505px;
    border:0;
}


#lokasiTPS{
    position: absolute;
    top:-75px;
    left:-420px;
    width: 495px;
    border:0;
}

#txtKapasitasMaksimum{
    position: absolute;
    top:525px;
    left: -730px;
    width: 500px;
    border: 0;
}

.spacer-line4{
    position: absolute;
    top: -75px;
    left: -420px;
    width: 300px;
    height: 1px;
    background-color: gray;
    margin: 20px 0;
    border: none;
    border-top: 1px solid gray;
    width: 500px;
}

#kapasitasTPS{
    position: absolute;
    top:10px;
    left:-420px;
    border: 0;
    width: 495px;
}

.spacer-line5{
    position: absolute;
    top: 5px;
    left: -420px;
    width: 300px;
    height: 1px;
    background-color: gray;
    margin: 20px 0;
    border: none;
    border-top: 1px solid gray;
    width: 500px;
}

#content{
    position: absolute;
    top:200px;
    left:500px;
}

#txtKeterangan{
    position: absolute;
    top:600px;
    left: -730px;
    width: 500px;
    border: 0;
}

#keteranganTPS{
    position: absolute;
    top:80px;
    left: -420px;
    width: 495px;
    border: 0;
}

.spacer-line6{
    position: absolute;
    top:80px;
    left: -420px;
    height: 1px;
    background-color: gray;
    margin: 20px 0;
    border: none;
    border-top: 1px solid gray;
    width: 500px;
}

#buttonSimpan{
    position: absolute;
    top:200px;
    left: -200px;
    color: white;
    background-color: #41cb2b;
    border: 0;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    }


