<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../../public/lurah/lihatcalonpemilih.css">
</head>

<body>
    <div class="container">
        <div class="rectangle">
            <h2>Profile Lurah</h2>
            <div class="line"></div>
            <input type="text" class="textbox" placeholder="Enter your text here">
            <div class="row1">
                <div class="column1">No</div>
                <div class="column2">Nama</div>
                <div class="column3">NIK</div>
                <div class="column4">Alamat</div>
                <div class="column5">Partai</div>
                <div class="column6">Action</div>
            </div>
            <div class="row2">
                <div class="column1">#1</div>
                <div class="column2">Hanna Paulina</div>
                <div class="column3">3279725162783645</div>
                <div class="column4">Bojong Soang</div>
                <div class="column5">-</div>
                <button class="column6">label</button>
            </div>
        </div>
    </div>
</body>

</html>
