<!DOCTYPE html>
<html>
  <head>
    <title>Pilih Saksi</title>
    <link rel="stylesheet" type="text/css" href="/lurah/pilihsaksi.css" />
  </head>

  <body>
    <%- include('./layout/navigator.ejs') %>
    <div class="container">
      <div class="rectangle">
        <h2>Daftar Calon Pemilih</h2>
        <div class="line"></div>
        <h3>
          Silahkan Cari Calon Pemilih yang akan di-alokasikan sebagai Saksi!
        </h3>
        <h6>Cari calon pemilih berdasarkan NIK mereka!</h6>
        <form method="GET" action="/">
          <div class="form-row">
            <input type="text" name="filter" placeholder="Cari Calon Pemilih" />
            <input type="submit" value="Search" />
          </div>
        </form>
        <br />
        <div class="result">
          Johannes Putra
          <button>View</button>
        </div>
      </div>
    </div>
    <div class="rectangle1">
      <h2 class="head">Pilih Saksi</h2>
      <div class="line1">
        ----------------------------------------------------------------------------------------------------
      </div>
      <h4 class="ket">Johannes Alexander Putra</h4>
      <label>Pilih Partai:</label>
      <input class="partai" name="text" placeholder="Masukkan nama partai..." type="search" required>
      <label>Pilih TPS:</label>

      <div class="dropdown">
        
        <select class="dropbtn" id="TPS" name="TPS" required>
            <option value="" selected disabled>Pilih TPS</option>
        </select>
      </div>
      <div class="green-oval">
        <button class="green-oval">Jadikan Saksi</button>
      </div>
      <div class="profile-details">
        <div>
          <p><strong>NIK:</strong></p>
          <p><strong>Tempat, Tanggal Lahir:</strong></p>
          <p><strong>Alamat:</strong></p>
          <p><strong>No HP:</strong></p>
          <p><strong>Kota:</strong></p>
          <p><strong>Kecamatan:</strong></p>
          <p><strong>Kelurahan:</strong></p>
          <p><strong>RT/RW:</strong></p>
        </div>
        <div>
          <p>32729374618273</p>
          <p>Bandung, 8 Juni 2000</p>
          <p>Taman Holis Indah G.5</p>
          <p>081263712823</p>
          <p>Bandung</p>
          <p>Margahayu</p>
          <p>Pungkur</p>
          <p>06/09</p>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function populateDropdown(selectElement, data) {
            for (let i = 0; i < data.length; i++) {
                let option = document.createElement("option");
                option.text = data[i];
                option.value = data[i];
                selectElement.appendChild(option);
            }
        }

        window.onload = function() {
       
        let TPSDropdown = document.getElementById("TPS");
        let TPSData = ["TPS A", "TPS B", "TPS C"]; 
        populateDropdown(TPSDropdown, TPSData);
        }
</script>
