<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/lurah/profile.css">
</head>

<body>
    <%- include('./layout/navigator.ejs') %>
    
    <div class="container">
        <div class="rectangle">
            <h2>Profile Lurah</h2>
            <div class="line"></div>
            <h2><%= result[0].namaLurah  %></h2>
            <div class="spacer-line"></div>
            <div class="profile-details">
                <div>
                    <p><strong>NIK:</strong></p>
                    <p><strong>Tempat, Tanggal Lahir:</strong></p>
                    <p><strong>Alamat:</strong></p>
                    <p><strong>No HP:</strong></p>
                    <p><strong>Kota:</strong></p>
                    <p><strong>Kecamatan:</strong></p>
                    <p><strong>Kelurahan:</strong></p>
                    <p><strong>RT/RW:</strong></p>
                </div>
                <div>
                    <p><%= result[0].idLurah  %></p>
                    <p>Bandung, 10 Juni 1999</p>
                    <p>Taman Holis Indah G.5</p>
                    <p>081263712823</p>
                    <p>Bandung</p>
                    <p>Margahayu</p>
                    <p>Margahayu Utara</p>
                    <p>06/09</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>