<!DOCTYPE html>
<html>

<head>
    <title>Halaman Data Diri</title>
    <link rel="stylesheet" type="text/css" href="../../public/camil/signup-data-diri.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <h2>Masukkan Data Diri Anda</h2>
            <form>
                <div class="form-group">
                    <label for="nik">NIK:</label>
                    <input type="text" id="nik" name="nik" placeholder = "NIK..."required>
                </div>
                <div class="form-group">
                    <label for="lahir">Tempat/Tanggal Lahir:</label>
                    <input type="text" id="lahir" name="lahir" placeholder = "Tempat/Tanggal Lahir..." required>
                </div>
                <div class="form-group">
                    <label for="kota">Kota:</label>
                    <input type="text" id="kota" name="kota" placeholder = "Kota..." required>
                </div>
                <div class="form-group">
                    <label for="kecamatan">Kecamatan:</label>
                    <input type="text" id="kecamatan" name="kecamatan" placeholder = "Kecamatan..." required>
                </div>
                <div class="form-group">
                    <label for="kelurahan">Kelurahan:</label>
                    <input type="text" id="kelurahan" name="kelurahan" placeholder = "Kelurahan..." required>
                </div>
                <div class="form-group">
                    <label for="RW/RT">RW/RT:</label>
                    <input type="text" id="RW/RT" name="RW/RT" placeholder = "RW/RT..." required>
                </div>
                <div class="form-group">
                    <label for="HP">No HP:</label>
                    <input type="text" id="HP" name="HP" placeholder = "No HP..." required>
                </div>
                <p>Siapkan KTP anda</p>
                <button class = "button" type="next">Next</button>
            </form>
        </div>
    </div>
</body>

</html>