<!DOCTYPE html>
<html>

<head>
    <title>Upload KTP</title>
    <link rel="stylesheet" type="text/css" href="/camil/signup-ktp.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <h2>Upload Foto Kartu Identitas</h2>
            <p>(KTP)</p>
            <div id="cont">
                <p id="up">Drop file to upload</p>
                <form method= "post" action="/camil/ktp" enctype="multipart/form-data" id="uploadForm">
                    
                    <div class="isi">
                        <img src="https://kodfun.github.io/Reels/ImagePreview/choose.png" height="250" id="gambar"
                            alt="Upload">
                        <div class="submitvalue">
                            <input type="file" name="image" id="Submit" value="Upload" accept="image/png, image/jpg, image/jpeg">
                        </div>
                        <p>
                            Pastikan kartu identitas Anda terlihat dengan jelas!
                        </p>
                    </div>
                    <br>
                    <button class="button" type="submit">Next -></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    let img = document.getElementById("gambar");
    let btn = document.getElementById("Submit");

    btn.addEventListener("change", (e) => {
        const file = btn.files[0];
        if (file) {
            img.src = URL.createObjectURL(file);
        }
    });

    

</script>
