<!DOCTYPE html>
<html>

<head>
    <title>Detail TPS</title>
    <link rel="stylesheet" type="text/css" href="/camil/lihat-tps.css">
</head>
<body>
    <%- include('./layout/navigator.ejs') %>
    <div class="container">
        <div class="rectangle">
            <h2>Detail TPS:</h2>
            <div class="line"></div>
            <p class="no-data <%= statusresult[0].statuscamil === 'Y' ? 'green-oval' : 'hider' %>">Data TPS Belum Tersedia</p>
            <div class="verification-notice">
                <div class="red-rectangle">
                    <p>Data Anda Belum Terverifikasi</p>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>